/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url(Imagenes/Fondo1.jpg);
    background-size: cover;
    color: white;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.7);
}

header .logo img {
    height: 50px;
}

header .menu .btn {
    color: #fff;
    background-color: #191170;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

header .menu .btn:hover {
    background-color: #191170;
}

/* Main Content Styles */
main {
    padding: 20px;
    text-align: center;
}

main h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

main p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

/* Button Container Styles */
.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.button-container .btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button-container .btn:hover {
    background-color: #0056b3;
}