<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/Styles.css">
</head>
<body>
<header>
    <div class="logo">
        <img src="/Imagenes/Logo.png" alt="NetPoliX Logo">
    </div>
    <div class="menu">
        <a href="/logout" class="btn">Cerrar sesión</a>
    </div>
</header>

<main>
    <h1>Panel de Administración</h1>
    <div class="button-container">
        <!-- Agregar rutas para las opciones de administración -->
        <a th:href="@{/CrearSerie}">Crear Serie</a>
        <a th:href="@{/agregarTemporada}">Agregar Temporada</a>
        <a th:href="@{/SubirVideo}">Subir Video</a>
        <a th:href="@{/crearColeccion}">Crear Colección</a>
        <a th:href="@{/agregarVideoAColeccion}">Agregar Video a Colección</a>  <!-- Ruta para agregar videos a la colección -->
        <a th:href="@{/promociones}">Crear Promocion</a>
        <!-- Otras rutas de administración -->
    </div>
</main>
</body>
</html>
