<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar Saldo</title>
    <link rel="icon" href="/Imagenes/Logo.png" type="image/png">
    <link rel="stylesheet" href="/Styles.css">
</head>
<body>
<header>
    <div class="logo">
        <img src="/Imagenes/Logo.png" alt="NetPoliX Logo">
    </div>
    <div class="menu">
        <a href="/logout" class="btn">Cerrar sesión</a>
    </div>
</header>

<main>
    <h1>Consultar Saldo</h1>
    <p>Nombre de usuario: <span th:text="${usuario.nombreUsuario}"></span></p>
    <p>Email: <span th:text="${usuario.email}"></span></p>
    <p>Saldo actual: <span th:text="${usuario.saldo}"></span></p>
    <p>Puntos actuales: <span th:text="${usuario.puntos}"></span></p>

    <div class="button-container">
        <a href="/usuarioPrincipal" class="btn">Página Principal</a>
        <a href="/referidosPuntos" class="btn">Referidos y Puntos</a>
        <a href="/ingresarSaldo" class="btn">Ingresar Saldo</a>
    </div>
</main>
</body>
</html>