<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colecciones</title>
    <link rel="stylesheet" href="../StylesMisColecciones.css">
</head>
<body>
<h1>Colecciones y Videos</h1>
<div th:each="entry : ${coleccionesMap}">
    <h2 th:text="${entry.key}" style="font-weight: bold;"></h2>
    <ul>
        <li th:each="videoData : ${entry.value}">
            <span th:text="'Nombre del Video: ' + ${videoData['titulo']}"></span>
            <span th:text="'ISAN: ' + ${videoData['isan']}"></span><br/>
            <form th:action="@{/agregarAlCarrito}" method="post" th:if="${!videoData['enCarrito'] && !videoData['comprado']}">
                <input type="hidden" name="isan" th:value="${videoData['isan']}" />
                <button type="submit">Agregar al Carrito</button>
            </form>
            <p th:if="${videoData['enCarrito']}">Este video ya está en el carrito.</p>
            <p th:if="${videoData['comprado']}">Este video ya ha sido comprado.</p>
        </li>
    </ul>
    <hr />
</div>
<a href="/usuarioPrincipal">Volver a la página principal</a>
</body>
</html>