<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal del Usuario</title>
    <link rel="icon" href="/Imagenes/Logo.png" type="image/png">
    <link rel="stylesheet" href="/Styles.css">
</head>
<body>
<header>
    <div class="logo">
        <img src="/Imagenes/Logo.png" alt="NetPoliX Logo">
    </div>
    <div class="menu">
        <a href="/logout" class="btn">Cerrar sesión</a>
    </div>
</header>

<main>
    <h1>Bienvenido a tu página principal <span th:text="${usuarioNombre}"></span></h1>

    <div class="button-container">
        <a href="/inventarioVideos" class="btn">Mis Videos</a>
        <a href="/buscarVideos" class="btn">Buscar Videos</a>
        <a href="/carrito" class="btn">Carrito de Compras</a>
        <a href="/misCalificaciones" class="btn">Mis Calificaciones</a>
        <a href="/misColecciones" class="btn">Mis Colecciones</a>
        <a href="/historialCompras" class="btn">Historial de Compras y Alquileres</a>
        <a href="/consultarSaldo" class="btn">Consultar Saldo</a>
        <a href="/promocionesOfertas" class="btn">Promociones y Ofertas</a>
        <a href="/notificacionesEstrenos" class="btn">Notificaciones de Estrenos</a>
        <a href="/referidosPuntos" class="btn">Referidos y Puntos</a>
    </div>
</main>
</body>
</html>