<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NetPoliX</title>
    <link rel="icon" href="/Imagenes/Logo.png" type="image/png">
    <link rel="stylesheet" href="/Styles.css">
</head>
<body>
<header>
    <div class="logo">
        <img src="/Imagenes/Logo.png" alt="NetPoliX Logo">
    </div>
    <div class="menu">
        <a href="/login" class="btn">Iniciar sesión</a>
        <a href="/register" class="btn">Registrarse</a>
    </div>
</header>

<main>
    <h1>¡Compra o alquila las mejores películas y series del mercado en: <br><span>NetPoliX</span>!</h1>
</main>
</body>
</html>